<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Mail\Template\TransportBuilder" type="Hashcrypt\Contact\Magento\Mail\Template\TransportBuilder" />
    <preference for="Magento\Contact\Controller\Index\Post" type="Hashcrypt\Contact\Controller\Index\Index" />
</config>